.product-areas {
    
    &__all-logos {

        flex-wrap: wrap;
        align-items: flex-end;

        &--logo-container {
            width: 200px;
            margin: 10px;
    
            &__logo {
                width: 100%;
                height: auto;
                margin: 0;

                & img {
                    width: 50%;
                }
            }
        }
    }

    flex-wrap: wrap;

}