.services {

    flex-wrap: wrap;
    
    &__all-logos {

        flex-wrap: wrap;
        align-items: flex-end;

        width: 100%;

        &--logo-container {
            width: 20%;
            min-width: 100px;
            max-width: 200px;
            margin: 10px;
    
            &__logo {
                width: 100%;
                height: auto;
                margin: 0;

                & img {
                    width: 50%;
                }
            }
        }
    }

}