.projects-section {

    .project:not(:last-child) {
        margin-bottom: 500px;
    }

    .project:last-child {
        margin-bottom: 200px;
    }

    .project {

        &__summary {
            position: relative;

            &--large-pulse {
                position: absolute;
                z-index: -1;
                left: 0;
                margin: 0;
                width: 60%;
            }
    
            &--small-pulse {
                position: absolute;
                right: 0;
                z-index: -1;
                margin: 0;
                width: 40%;
            }

            &--fig-container {
                width: 40%;
                min-width: 250px;
                background-color: rgb(82, 82, 82);
                border-radius: 30px;
                margin: 10px;
                
                &__fig {
                    width: 100%;
                    margin: 0;

                    & img {
                        border-radius: 30px;
                    }
                }

                &__technical-logos {
                    width: 80%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;

                    &--logo {
                        width: 10%;
                    }
                }
            }

            &--desc {
                width: 40%;
                min-width: 250px;
                margin: 10px;
                text-align: justify;
                &__title {
                    font-size: 1.5rem;
                }
            }

            @media only screen and (max-width: 600px) {
                &--desc {
                    text-align: left;
                }
            }
        }


        &__details {
            width: 60%;
            text-align: left;

            &--title {
                font-size: 1.5rem;
            }
        }
    }


    // Mobile styling
    @media only screen and (max-width: 600px) {
        .project:not(:last-child) {
            margin-bottom: 100px;
        }
    
        .project:last-child {
            margin-bottom: 200px;
        }

        .project {
            width: 100%;
            &__summary {
                &--fig-container {
                    width: 80%;
                }
                &--desc {
                    width: 80%;
                    &__btn-container {
                        width: 100%;
                    }
                }
            }
        }
    }
}