.projects-section {

    .project:not(:last-child) {
        margin-bottom: 500px;
    }

    .project:last-child {
        margin-bottom: 200px;
    }

    .project {

        &__summary {
            position: relative;

            &--large-pulse {
                position: absolute;
                z-index: -1;
                left: 0;
                margin: 0;
                width: 60%;
            }
    
            &--small-pulse {
                position: absolute;
                right: 0;
                z-index: -1;
                margin: 0;
                width: 40%;
            }

            &--details {
                width: 100%;
                min-width: 250px;
                border-radius: 30px;
                margin: 10px;
                align-items: flex-start;

                &__fig-and-icons {
                    width: 40%;
                    margin: 20px;
                    &--fig {
                        width: 100%;
                        margin: 0;

                        & img {
                            border-radius: 20px;
                        }
                    }

                    &--icons {
                        margin: 0 auto;
                        margin-top: 20px;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        &__icon {
                            width: 15%;
                            min-width: 50px;
                            border-radius: 10px;
                            border: 3px solid #000;
                            background-color: rgba(37, 37, 37, 0.726);
                            margin: 10px;
        
                            & img {
                                width: 50%;
                            }
                        }

                        &__icon:after {
                            content: "";
                            display: block;
                            padding-bottom: 100%;
                        }
                    }
                }

                &__desc {
                    width: 40%;
                    min-width: 250px;
                    margin: 20px;
                    text-align: justify;
                    font-size: 1.2vw;

                    &--title {
                        font-size: 1.5rem;
                        margin-top: 0;
                    }
                        
                }
            }
        }


        &__details {
            width: 60%;
            text-align: left;

            &--title {
                font-size: 1.5rem;
            }
        }
    }


    // Mobile styling
    @media only screen and (max-width: 600px) {
        .project:not(:last-child) {
            margin-bottom: 100px;
        }
    
        .project:last-child {
            margin-bottom: 100px;
        }

        .project {
            width: 100%;

            &__summary {
                width: 100%;
                overflow: hidden;

                &--large-pulse {
                    width: 180%;
                    left: -200px;

                    & img {
                        width: 90%;
                    }

                }
        
                &--small-pulse {
                    width: 150%;
                    right: -180px;
                    
                    & img {
                        width: 90%;
                    }
                }

                &--details {
                    margin: 0;
                    &__desc {
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: left;
                        font-size: 1.3rem;

                        &--btn-container {
                            width: 100%;

                            & .btn {
                                width: 100%;
                            }
                        }
                    }
                    
                    &__fig-and-icons {
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;

                        &--fig {
                            & img {
                                border-radius: 10px;
                            }
                        }

                        &--icons {
                            width: 100%;

                            &__icon {
                                margin: 5px;
                            }
                        }
                    }
                }

            }
        }
    }
}