html {
  background-color: #121212;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  position: relative;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-family: Lato;
}

.italic-text {
  font-style: italic;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.clickable {
  cursor: pointer;
}

// Better spacing for items on larger screens
@media only screen and (min-width: 2000px) {
  .lg-space-around {
    justify-content: space-around;
  }
}

// Mobile specific row and column config
@media only screen and (max-width: 600px) {
  .mobile-reverse-row {
    flex-direction: row-reverse;
  }
  
  .mobile-reverse-col {
    flex-direction: column-reverse;
  }
}

/* Buttons */

.btn {
  width: 35%;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow: 1px 4px 1px #999999;
  transition: all .2s ease-in-out;
  text-align: center;
  color: black;
  text-decoration: none;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.main-btn-blue {
  background-color: #75A8EA;
  box-shadow: 1px 4px 1px #375e91;
}

.alternate-btn-blue {
  background-color: #334966;
  box-shadow: 1px 4px 1px #1d2d42;
  color: white;
}

.main-btn-orange {
  background-color: #FFA166;
  box-shadow: 1px 4px 1px #c46e39;
}

.alternate-btn-orange {
  background-color: #7F390D;
  box-shadow: 1px 4px 1px #5c2503;
  color: white;
}


.alternate-btn {
  background: none;
  box-shadow: 1px 4px 1px #2d2a52;
  // border: 2px solid #E9AE69;
  color: white;
  background-color: #514D80;
}

.wider-btn {
  width: 55%;
}

/* Section Containers */
.section {
  margin-bottom: 200px;
}

@media only screen and (max-width: 600px) {
  .section {
    margin-bottom: 100px;
  }
}

.section-heading {
  font-size: 2.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Hide and show elements on mobile */
.show-on-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .show-on-mobile {
    display: block;
  }

  .hide-on-mobile {
    display: none;
  }
}