.about-me {

    &__info {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        &--icon-container {
            min-width: 100px;
        }
    }
}